
$mainColor:rgb(187, 160, 213);
$textColor: rgb(0, 0, 0); 

$mainFont:'Lucida Sans', sans-serif;
$title:5rem;
$textXl: 3.5rem;
$textL: 2rem;
$textM: 1.7rem;
$textSm: 1.5rem;
$textP: 1.6rem;
$textBold: 400;

$cAlign: center;

